html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(15, 12, 22);
}
canvas {
  display: block;
  /* margin: auto; */
}
.title {
  font-size: 36px;
  text-align: center;
  padding: 20px;
}

header a {
  color: white;
  padding: 10px 16px;
  display: inline-block;
}
